<div class="panel panel-primary">
  <div class="panel-heading">Last Challenge:</div>
  <div class="panel-body">
    <% if challenge_winners(@challenge) %>
    <blockquote>
      <h3><strong><%= @challenge.question %>:</strong> <%= @challenge.answer %></h3>
      <% if @challenge.hint %>
      <p>
        <strong>Hint:</strong>
        <%= @challenge.hint %>
      </p>
      <% end %>
      <footer><%= @challenge.user.first_name %> <%= @challenge.user.last_name %></footer>
    </blockquote>
    <% if challenge_winners(@challenge).size > 0 %>
    <h3>Last Challenge's <%= "Geek".pluralize(challenge_winners(@challenge).count)%>:</h3>
    <ul>
      <% challenge_winners(@challenge).each do |guess| %>
      <li> <%= link_to "#{guess.user.first_name} #{guess.user.last_name}", user_path(guess.user) %> </li>
      <% end %> 
    </ul>
    <% else %>
      <h3>No winners for this challenge!</h3>
    <% end %>
    <% else %>
    <blockquote>
      <h3>No completed challenges!</h3>
    </blockquote>
    <% end %>
  </div>
</div>
