<div class="row">

  <%= form_for(:req, url: req_of_the_week_path) do |f| %>

      <div class="field col-md-12 form-group">
        <%= f.text_field :title, :class => "form-control", :placeholder => "Req title" %>
      </div>

      <div class="col-md-12">
        <div class="field form-group">
          <%= f.select :department, options_for_select(DEPARTMENT_CONSTANTS.map { |x| [x[:name], x[:id]] }, 1), {}, {'class' => 'btn btn-default dropdown-toggle form-control', 'data-toggle' => 'dropdown'} %>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <%= f.text_field :manager, :class => "form-control", :placeholder => "Manager" %>
      </div>
      <div class="field col-md-12 form-group">
        <%= f.text_area :description, :class => "form-control", :placeholder => "Description" %>
      </div>

      <%= f.hidden_field(:send_notification_email, value: 'true') %>
      <div class="col-md-12 form-group">
              <span>
                  <input id="email_checkbox" type="checkbox" name="gg-checkbox-mail"
                  data-size="large" data-on-text="<span class='fa fa-check fa-lg'></span>"
                  data-off-text="<span class='fa fa-close fa-lg'></span>" data-label-text="<span class='fa fa-envelope-o fa-lg' style='color: #999'></span>"
                  checked>
              </span>
      </div>

      <div class="col-md-12 actions">
            <span class="input-group-btn">
             <%= f.submit :class => 'btn btn-primary', data: { 'confirm' => 'This will add a new req of the week. Are you sure?', 'confirm-fade' => true, 'confirm-title' => 'Start a new Req'} %>
         </span>
      </div>
  <% end %>

</div>
