<div id="my-tab-content" class="tab-content">
  <div class="tab-pane<% unless flash[:tab] || flash[:tab] ==  'challenge_tab'%> active<% end %>" id="challenge_tab">
    <h1 class="text-center">The Req of the Week is...</h1>

    <blockquote>
      <h3><%= @req.title %></h3>
      <% if @req.department %>
          <p>
            <strong>Department: </strong>
            <%= Req.get_department_name(@req.department) %>
          </p>
      <% end %>
      <% if !@req.manager.empty? %>
          <p>
            <strong>Manager: </strong>
            <%= @req.manager %>
          </p>
      <% end %>
      <% if !@req.description.empty? %>
          <p>
            <strong>Description: </strong>
            <%= @req.description %>
          </p>
      <% end %>
    </blockquote>
  </div>
</div>

<div><h1>To Add: Share buttons!</h1></div>


<%= generate_mail if flash[:send_notification_email] %>