<div id="my-tab-content" class="tab-content">
    <h1 class="text-center">The Req of the Week is...</h1>

    <blockquote>
      <h2><%= @req.title %></h2>
      <% if @req.department %>
          <p>
            <strong>Department: </strong>
            <%= Req.get_department_name(@req.department) %>
          </p>
      <% end %>
      <% if !@req.manager.empty? %>
          <p>
            <strong>Manager: </strong>
            <%= @req.manager %>
          </p>
      <% end %>
      <% if !@req.description.empty? %>
          <p>
            <strong>Description: </strong>
            <%= @req.description %>
          </p>
      <% end %>
      <footer><p>More information on positions can always be found on the <a href="http://www.guidespark.com/about/careers">GuideSpark Careers page</a>.</p></footer>
    </blockquote>
</div>

<div><h4>Share with a friend: <%= generate_friend_mail %></h4></div>

<%= generate_mail if flash[:send_notification_email] %>

