<div class="row">
  <div class="span6 offset3">
    <%= form_for(:guess, url: user_challenge_guesses_path(@user, @challenge)) do |f| %>

        <div class="field">
          <%= f.label 'First name' %>
          <%= f.autocomplete_field :first_name, autocomplete_user_first_name_users_path, :value => cookies[:guess_game_first_name] %>
        </div>
        <div class="field">
          <%= f.label 'Last name' %>
          <%= f.autocomplete_field :last_name, autocomplete_user_last_name_users_path, :value => cookies[:guess_game_last_name] %>
        </div>

        <div class="field">
          <%= f.label :answer %>
          <br>
          <%= f.text_field :answer %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>

    <% end %>

  </div>
</div>