<% ['nav-pills nav-justified', 'nav-tabs'].each_with_index do |v,i|%>
    <ul id="tabs-<%= i %>" class="nav <%= v %>" data-tabs="tabs">
      <li class="col-xs-4<% unless flash[:tab] || flash[:tab] ==  'challenge_tab'%> active<% end %>">
        <a href="#challenge_tab" data-toggle="tab">Challenge</a>
      </li>
      <li class="col-xs-4<% if flash[:tab] ==  'guesses_tab'%> active<% end %>">
        <a href="#guesses_tab" data-toggle="tab">Guesses <span class="badge"><%= @challenge.guesses.size %></span></a>
      </li>
      <li class="col-xs-4<% if flash[:tab] ==  'leaderboard_tab'%> active<% end %>">
        <a href="#leaderboard_tab" data-toggle="tab">Leaderboard</a>
      </li>
    </ul>
<% end %>

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane<% unless flash[:tab] || flash[:tab] ==  'challenge_tab'%> active<% end %>" id="challenge_tab">
    <h1 class="text-center">The question for this week is...</h1>

    <blockquote>
      <h3><%= @challenge.question %></h3>
      <% if @challenge.hint %>
        <% if !@challenge.hint.empty? %>
          <p>
            <strong>Hint:</strong>
            <%= @challenge.hint %>
          </p>
        <% end %>
      <% end %>
      <footer><%= "#{@user.first_name} #{@user.last_name}" %></footer>
    </blockquote>
    <%= render 'challenges/answer'%>
  </div>
  <div class="tab-pane<% if flash[:tab] ==  'guesses_tab'%> active<% end %>" id="guesses_tab">

    <h1 class="text-center">What others guessed...</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Current Guesses</h2>
      </div>
      <%= render partial: 'layouts/guesses', :locals => {:isAdmin => false, :guesses => @challenge.guesses}%>
    </div>
  </div>

  <div class="tab-pane<% if flash[:tab] ==  'leaderboard_tab'%> active<% end %>" id="leaderboard_tab">

    <%= render partial: 'leaderboard/leaderboard' %>
  </div>

</div>

<%= generate_mail if flash[:send_notification_email] %>