<ul id="tabs" class="nav nav-pills nav-justified" data-tabs="tabs">
  <li <% unless @tab || @tab ==  'challenge_tab'%>class="active"<% end %>><a href="#challenge_tab" data-toggle="tab">Challenge</a></li>
  <li <% if @tab ==  'guesses_tab'%>class="active"<% end %>><a href="#guesses_tab" data-toggle="tab">Guesses</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane<% unless @tab || @tab ==  'challenge_tab'%> active<% end %>" id="challenge_tab">
    <h1 class="text-center">The question for this week is...</h1>

    <blockquote>
      <h3><%= @challenge.question %></h3>
      <footer><%= "#{@user.first_name} #{@user.last_name}" %></footer>
    </blockquote>
        <% if @challenge.hint %>
            <p>
              <strong>Hint:</strong>
              <%= @challenge.hint %>
            </p>
        <% end %>
    <%= render 'challenges/answer'%>
  </div>
  <div class="tab-pane<% if @tab ==  'guesses_tab'%> active<% end %>" id="guesses_tab">

    <h1 class="text-center">What others guessed...</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Current Guesses</h2>
      </div>
      <%= render partial: 'layouts/guesses', :locals => {:isAdmin => false, :guesses => @challenge.guesses}%>
    </div>
  </div>
</div>

<%= generate_mail if flash[:send_notification_email] %>