<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if @context == CONTEXT_UNDEFINED%>
        Wins of the Week
    <% elsif @context == CONTEXT_REQ_OF_THE_WEEK %>
        Req of the Week
    <% elsif @context == CONTEXT_GEEK_OF_THE_WEEK %>
        Geek of the Week
    <% end %>
    <%= yield(:title) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) && %w(notice alert).include?(name.to_s)%>
      <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
  <div class="row">

    <%= yield %>

  </div>


  <hr>

  <%= render 'layouts/footer' %>

</div>

</body>
</html>
